/**************************************************************\
* Author: Trevor Sundberg
* Copyright 2014-2014, DigiPen Institute of Technology
\**************************************************************/

.slick-tree-toggle
{
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
