Checks: "*,\
-bugprone-macro-parentheses,\
-cert-dcl21-cpp,\
-cert-err58-cpp,\
-clang-diagnostic-c++98*,\
-clang-diagnostic-covered-switch-default,\
-clang-diagnostic-deprecated,\
-clang-diagnostic-documentation-unknown-command,\
-clang-diagnostic-error,\
-clang-diagnostic-float-equal,\
-clang-diagnostic-gnu-anonymous-struct,\
-clang-diagnostic-missing-prototypes,\
-clang-diagnostic-nested-anon-types,\
-clang-diagnostic-padded,\
-clang-diagnostic-reserved-id-macro,\
-clang-diagnostic-sign-conversion,\
-clang-diagnostic-unused-macros,\
-clang-diagnostic-unused-parameter,\
-clang-diagnostic-zero-as-null-pointer-constant,\
-cppcoreguidelines-c-copy-assignment-signature,\
-cppcoreguidelines-no-malloc,\
-cppcoreguidelines-owning-memory,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
-cppcoreguidelines-pro-bounds-pointer-arithmetic,\
-cppcoreguidelines-pro-type-const-cast,\
-cppcoreguidelines-pro-type-reinterpret-cast,\
-cppcoreguidelines-pro-type-union-access,\
-cppcoreguidelines-pro-type-vararg,\
-cppcoreguidelines-special-member-functions,\
-fuchsia-default-arguments,\
-fuchsia-overloaded-operator,\
-google-readability-casting,\
-google-runtime-int,\
-google-runtime-references,\
-hicpp-deprecated-headers,\
-hicpp-member-init,\
-hicpp-no-array-decay,\
-hicpp-no-assembler,\
-hicpp-no-malloc,\
-hicpp-signed-bitwise,\
-hicpp-special-member-functions,\
-hicpp-use-nullptr,\
-hicpp-vararg,\
-llvm-header-guard,\
-misc-unconventional-assign-operator,\
-misc-unused-parameters,\
-modernize-deprecated-headers,\
-modernize-use-using,\
-readability-named-parameter,\
"
AnalyzeTemporaryDtors: true
FormatStyle: file
