BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: 'true'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
BreakConstructorInitializersBeforeComma: 'true'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
ColumnLimit: '120'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
DerivePointerAlignment: 'false'
ExperimentalAutoDetectBinPacking: 'false'
ForEachMacros: ['forRange', 'forRangeRef', 'RaverieForRangeVar', 'RaverieForRangeRefVar', 'RaverieForEach', 'RaverieRefForEach', 'RaverieForRange', 'RaverieRefForRange']
IncludeBlocks: Preserve
IndentPPDirectives: AfterHash
PenaltyReturnTypeOnItsOwnLine: '100'
PointerAlignment: Left
SortIncludes: 'false'
TabWidth: '2'
UseTab: Never
