[submodule "Libraries/Scintilla/Repo"]
	path = Libraries/Scintilla/Repo
	url = https://github.com/WelderFoundation/WelderEngineScintilla.git
[submodule "Libraries/Libpng/Repo"]
	path = Libraries/Libpng/Repo
	url = https://github.com/WelderFoundation/WelderEngineLibpng.git
[submodule "Libraries/Assimp/Repo"]
	path = Libraries/Assimp/Repo
	url = https://github.com/WelderFoundation/WelderEngineAssimp.git
[submodule "Libraries/ZLib/Repo"]
	path = Libraries/ZLib/Repo
	url = https://github.com/WelderFoundation/WelderEngineZLib.git
[submodule "Libraries/FreeType/Repo"]
	path = Libraries/FreeType/Repo
	url = https://github.com/WelderFoundation/WelderEngineFreeType.git
[submodule "Libraries/Opus/Repo"]
	path = Libraries/Opus/Repo
	url = https://github.com/WelderFoundation/WelderEngineOpus.git
[submodule "Libraries/Glew/Repo"]
	path = Libraries/Glew/Repo
	url = https://github.com/WelderFoundation/WelderEngineGlew.git
[submodule "Libraries/Nvtt/Repo"]
	path = Libraries/Nvtt/Repo
	url = https://github.com/WelderFoundation/WelderEngineNvtt.git
[submodule "Libraries/SpirvTools/Repo"]
	path = Libraries/SpirvTools/Repo
	url = https://github.com/WelderFoundation/WelderEngineSpirvTools.git
[submodule "Libraries/SpirvCross/Repo"]
	path = Libraries/SpirvCross/Repo
	url = https://github.com/WelderFoundation/WelderEngineSpirvCross.git
[submodule "Libraries/SpirvHeaders/Repo"]
	path = Libraries/SpirvHeaders/Repo
	url = https://github.com/WelderFoundation/WelderEngineSpirvHeaders.git
