syntax: glob

*.ncb
*.suo
*.user
*.orig
*.db
*.sdf
*.opensdf
*.ipch
*.tlog
*.pdb
*.lastbuildstate
*.log
*.unsuccessfulbuild
*.idb
*.cd
*.opendb
*.db-shm
*.db-wal
*.cache
*.ide
*.tmp
*.d
*.dblite
*.arcconfig
*.spv
*spv.glsl.txt
*.generated.*

compile_commands.json

Temp/
Build/
node_modules/
enc_temp_folder/
.vs
.vscode/ipch
