[submodule "External/Assimp/Repo"]
	path = External/Assimp/Repo
	url = https://github.com/raverie-us/raverie-engine-assimp.git
[submodule "External/FreeType/Repo"]
	path = External/FreeType/Repo
	url = https://github.com/raverie-us/raverie-engine-freetype.git
[submodule "External/Libpng/Repo"]
	path = External/Libpng/Repo
	url = https://github.com/raverie-us/raverie-engine-libpng.git
[submodule "External/Nvtt/Repo"]
	path = External/Nvtt/Repo
	url = https://github.com/raverie-us/raverie-engine-nvidia-texture-tools.git
[submodule "External/Opus/Repo"]
	path = External/Opus/Repo
	url = https://github.com/raverie-us/raverie-engine-opus.git
[submodule "External/Scintilla/Repo"]
	path = External/Scintilla/Repo
	url = https://github.com/raverie-us/raverie-engine-scintilla.git
[submodule "External/SpirvCross/Repo"]
	path = External/SpirvCross/Repo
	url = https://github.com/raverie-us/raverie-engine-spirv-cross.git
[submodule "External/SpirvHeaders/Repo"]
	path = External/SpirvHeaders/Repo
	url = https://github.com/raverie-us/raverie-engine-spirv-headers.git
[submodule "External/SpirvTools/Repo"]
	path = External/SpirvTools/Repo
	url = https://github.com/raverie-us/raverie-engine-spirv-tools.git
[submodule "External/ZLib/Repo"]
	path = External/ZLib/Repo
	url = https://github.com/raverie-us/raverie-engine-zlib.git
[submodule "External/Emscripten/Repo"]
	path = External/Emscripten/Repo
	url = https://github.com/emscripten-core/emscripten.git
