syntax: glob
TSParse/Release/
InstructionManager/InstructionManager/bin/
*.sdf
*.cache
TSParse/TSParse.opensdf
TSParse/Debug/
*.ipch
RegexBuilder/RegexBuilder/bin/Debug/
RegexBuilder/RegexBuilder/obj/x86/Debug/
ErrorDatabase/ErrorDatabase/bin/
ErrorDatabase/ErrorDatabase/obj/
RegexBuilder/RegexBuilder/bin/
RegexBuilder/RegexBuilder/obj/
InstructionManager/InstructionManager/obj/
TSParse/TSParse.sln.docstates.suo
Zilch/Debug/
*.opensdf
Zilch/Release/
Project/Debug/
Project/Driver/Debug/
Project/Release/*
*.Cache
*.suo
Project/ZilchAll/Debug/
Project/ZilchAll/Release/
*.obj
Project/ZilchAll/*.exe
Project/x64/
Project/Driver/ZilchErrorTests/Content/*.z
Project/Driver/ZilchErrorTests/*.z.meta
Project/Driver/ZilchErrorTests/Content/*.z.meta
Project/ZilchAll/ZilchEm.html
Project/ZilchAll/ZilchEm.js
Project/ZilchAll/ZilchEm.html.map
AllToOneCpp/AllToOneCpp/bin
AllToOneCpp/ZilchToOneCpp/bin
AllToOneCpp/ZilchToOneCpp/obj
AllToOneCpp/AllToOneCpp/obj
Project/ZilchAll/zilch.nativecodeanalysis.xml
Project/ZilchAll/main.nativecodeanalysis.xml
Project/ZilchAll/ZilchEmC++11.js
Project/ZilchAll/ZilchEmC++11.html
ValueUnitTestGeneration/ValueUnitTestGeneration/bin/
ValueUnitTestGeneration/ValueUnitTestGeneration/obj/
Documentation/build/
Debugger/MergeHtmlCssJs/bin/
Debugger/MergeHtmlCssJs/obj/
*.log
*.pdb
*.tlog
*.unsuccessfulbuild
*.lastbuildstate
*.user
Project/LocalPaths.props
Project/ZilchAll/Zilch.hpp
Project/ZilchAll/Zilch.cpp
Project/Project.VC.*
memory_leak_report.txt
