
/************* Panel with title bar ************/
.panel-base {
}

.panel-titlebar {
  background-color: #1E1E1E;
  height: 20px;
  width: 100%;
  overflow: hidden;
}

.panel-titlebar-text {
  float: left;
  padding-left:10px;
  padding-top:3px;
  color:#C4C4C4;
}

.panel-titlebar-button-close {
  float: right;
  padding-top:3px;
  padding-right:8px;
  color:#7A7A7A;
}

.panel-titlebar-button-close:hover {
  float: right;
  padding-top:3px;
  padding-right:8px;
  color:#FFFFFF;
}

.panel-content {
  background-color: #424242;
  
  /* This padding should match 'tab-handle-content-seperator' */
  padding: 4px;
}

.panel-content * {
  margin: 0px;
}

/***************** Floating dialog box ****************/
.dialog-floating {
  position: absolute;
  box-shadow: 5px 5px 2px rgba(0,0,0,0.4);
  border-width: 1px;
  border-style: solid;
  border-color: #2E2E2E;
  overflow: hidden;
}

/************ Resize decorator ************/
.resize-handle {
  position: absolute;
  width: 6px;
  height: 6px;
}

.resize-handle-corner {
  position: absolute;
  width: 12px;
  height: 12px;
}

.resize-handle-e { cursor: e-resize; }
.resize-handle-w { cursor: w-resize; }
.resize-handle-s { cursor: s-resize; }
.resize-handle-n { cursor: n-resize; }
.resize-handle-ne { cursor: ne-resize; }
.resize-handle-nw { cursor: nw-resize; }
.resize-handle-se { cursor: se-resize; }
.resize-handle-sw { cursor: sw-resize; }


/******************* Dock Manager ********************/
.dock-container {
  background-color: #323232;
}

.dock-container-fill {

}

/******************* Document Manager ********************/
.document-manager {
  background-color: #323232;
}


/******************* Dock Wheel ********************/
.dock-wheel-base {
  position: absolute;
}

.dock-wheel-item {
  position: absolute;
  width:32px;
  height:32px;
}

.dock-wheel-fill {
  margin-left: -16px;
  margin-top: -16px;
}

.dock-wheel-left {
  margin-left: -48px;
  margin-top: -16px;
}

.dock-wheel-right {
  margin-left: 16px;
  margin-top: -16px;
}

.dock-wheel-top {
  margin-left: -16px;
  margin-top: -48px;
}

.dock-wheel-down {
  margin-left: -16px;
  margin-top: 16px;
}

.dock-wheel-panel-preview {
  position: absolute;
  background-color:rgba(63, 104, 138, 0.3);
}

.dock-wheel-fill-icon { background:url(dock_fill.png) 0 0; }
.dock-wheel-left-icon { background:url(dock_left.png) 0 0; }
.dock-wheel-right-icon { background:url(dock_right.png) 0 0; }
.dock-wheel-top-icon { background:url(dock_top.png) 0 0; }
.dock-wheel-down-icon { background:url(dock_bottom.png) 0 0; }

.dock-wheel-fill-icon-hover { background:url(dock_fill_sel.png) 0 0; }
.dock-wheel-left-icon-hover { background:url(dock_left_sel.png) 0 0; }
.dock-wheel-right-icon-hover { background:url(dock_right_sel.png) 0 0; }
.dock-wheel-top-icon-hover { background:url(dock_top_sel.png) 0 0; }
.dock-wheel-down-icon-hover { background:url(dock_bottom_sel.png) 0 0; }

/**************************** Splitter *********************************/
.splitter-container-horizontal {
  float:left;
/*  background-color: #333; */
}

.splitter-container-vertical {
/*  background-color: #333; */
}

.splitbar-horizontal {
  background-color: #2E2E2E;
  /*box-shadow: inset 0px 0px 0px 1px #424242;*/
  width:100%;
  height:4px;
  cursor:n-resize;
}

.splitbar-vertical {
  background-color: #2E2E2E;
  /*box-shadow: inset 0px 0px 0px 1px #424242;*/
  width:4px;
  height:100%;
  float:left;
  cursor:e-resize;
}

/*************************** Tab Host ********************************/
.tab-host {
  background-color: #323232;
}

.tab-content {
  background-color: #323232;
}

.tab-content * {
  margin: 0px;
}

.tab-handle {
  position: relative;
  background-color: #303030;
  color:#C4C4C4;
  height: 20px;
  min-width:100px;
  float: left;
  overflow: hidden;
  pointer: default;
  margin: 0px 0px 0px 2px;
}
.tab-handle:hover {
  background-color: #383838;
  color:#FFFFFF;
}

.tab-handle-selected {
  background-color: #424242;
  color:#FFFFFF;
}

.tab-handle-text {
  margin-top: 3px;
  margin-left: 6px;
  margin-right: 6px;
  -ms-text-overflow: ellipsis !important;
  -o-text-overflow: ellipsis !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
}

.tab-handle-close-button {
  margin-top: 3px;
  margin-right: 6px;
  float: right;
}

.tab-handle-close-button:hover {
  color:#FFFFFF;
}

.tab-handle-list-container {
  background-color: #1E1E1E;
  height: 20px;
  overflow: hidden;
}

.tab-handle-content-seperator {
  background-color: #424242;
  height: 4px;
}

/*************************** Text Selection **************************/
.disable-selection {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}


/************************ Misc Utils *************************/
.full-screen {
  display:block;

  /*set the div in the top-left corner of the screen*/
  top:0;
  left:0;

  /*set the width and height to 100% of the screen*/
  width:100%;
  height:100%;
}

.rounded-corner-top {
}
